/*
=============== 
Fonts
===============
*/

@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Pattaya&display=swap');

/*
=============== 
Variables
===============
*/
/*  color: var(--clr-primary); */
:root {
    --clr-white: #ffffff;
    --clr-black: #000000;
    --clr-grey: #e7e7e7;
    --clr-dropMenu: #030303;
    --clr-dore: #af936c;
    --clr-turquoise: #03989e;

}
/*
=============== 
Global css
===============
*/
*{
    font-family: 'Abhaya Libre', serif;
    
}

main{
    margin-top: 5%;
    margin-bottom: 5%;
}
/*
=============== 
Section Main 
===============
*/
.titreForm{
    text-align: center;
    margin: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.imgsep{

    width: 50%;
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.form{
    width: 40rem;
    margin: 0 auto;
    background-color: #7a6b6b71;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}
.flex {
    display: flex;
    margin-bottom: 0.5rem;
}
.civility, .name, .fname, .firm, .email, .country, .topic, .cat, .message{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
}
.form input{
    padding: 0.5rem;
    border: none;
}
.form label{
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}
.btnFormEnvoi, .btnFormReset{
    padding: 0.5rem;
    margin: 0 auto;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    border: none;
    cursor: pointer;
}
.btnFormEnvoi:hover, .btnFormReset:hover{
    background-color: var(--clr-dore);
}

.errorForm{
    color: crimson;
    font-weight: bold;
    display: none;
}

#message{
    width: 100%;
    min-height: 20vh;
    border: none;
    padding: 0.5rem;
}
#civility {
    padding: 0.5rem;
}
#cat {
    padding: 0.5rem;
}
@media screen and (max-width : 768px){
    .flex {
        flex-direction: column;
    }
    .form {
        width: 90%;

    }
    .imgsep{
        height: 5%;
        width: 100%;
        object-fit:contain;
        object-position: bottom;
        margin-bottom: 5%;
        margin-left: auto;
        margin-right: auto;
    }
}


































/*#submit, #reset{
    margin-top: 5%;
    margin-right: 40%;
    margin-left: 25%;
    width: 50%;
    padding: 0.8rem;
    background-color: rgba(130, 136, 127, 0.521);
    color: white;
    border-radius: 0.2rem;
    cursor: pointer;
    border: none;

}*/


